<div *ngIf="produto$ | async as produto">
  <div class="row">
    <div class="col-3">
      <img [src]="produto.imagem" alt="{{ produto.nome }}" />
    </div>

    <div class="offset-2 col-3">
      <a>{{ produto.categoria }}</a>
      <h3>
        <strong>
          {{ produto.nome }}
        </strong>
      </h3>
      <h2>{{ produto.preco | currency : "BRL" }}</h2>
    </div>

    <div class="offset-1 col-3">
      <div class="card">
        <div class="card-body d-flex flex-column">
          <h3>{{ produto.preco | currency : "BRL" }}</h3>

          <h4>
            {{
            produto.estoque
            ? "Em estoque: " + produto.estoque
            : "Indisponível"
            }}
          </h4>

          <app-base-button (click)="alternarFavorito(produto)" [class]="'btn btn-outline-warning w-100'">
            {{produto.favoritoId ? "Remover dos Favoritos" : "Adicionar aos Favoritos"}}
          </app-base-button>

          <span class="mt-2">
            <strong>Vendido por </strong>
            <a [routerLink]="['/produtos']" (click)="obterProdutosDoVendedor(produto.vendedorId)">
              {{ produto.vendedor }}
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <h3>Descrição</h3>
    <hr />
    <h5>{{ produto.descricao }}</h5>
  </div>

  <div class="row my-5">
    <h3>Produtos do mesmo vendedor</h3>
    <p-carousel [value]="produto.produtosVendedor" [numVisible]="3" [numScroll]="3" [circular]="true">
      <hr />
      <ng-template let-produtoVendedor #item>
        <div class="mx-2">
          <app-produto-card [produto]="produtoVendedor"></app-produto-card>
        </div>
      </ng-template>
      <!-- <div class="col-4" *ngFor="let produtoVendedor of produto.produtosVendedor">
      </div> -->
    </p-carousel>
  </div>
</div>