<div *ngIf="produto$ | async as produto">
  <div class="row">
    <div class="col-3">
      <img [src]="produto.imagem" alt="{{ produto.nome }}" />
    </div>

    <div class="offset-2 col-3">
      <a>{{ produto.categoria }}</a>
      <h3>
        <strong>
          {{ produto.nome }}
        </strong>
      </h3>
      <h2>{{ produto.preco | currency : "BRL" }}</h2>
    </div>

    <div class="offset-1 col-3">
      <div class="card">
        <div class="card-body d-flex flex-column">
          <h3>{{ produto.preco | currency : "BRL" }}</h3>

          <h4>
            {{
              produto.estoque
                ? "Em estoque: " + produto.estoque
                : "Indisponível"
            }}
          </h4>

          @if (!favoritoId) {
          <app-base-button
            (click)="adicionarFavorito(produto)"
            [class]="'btn btn-outline-warning w-100'"
          >
            Adicionar a Favoritos
          </app-base-button>
          }

          <a
            [routerLink]="['/produtos']"
            (click)="produtosGetAll(produto.vendedorId)"
          >
            Acessar vendedor
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <h3>Descrição</h3>
    <hr />
    <h5>{{ produto.descricao }}</h5>
  </div>

  <div class="row mt-5">
    <h3>Produtos do mesmo vendedor</h3>
    <hr />
    @for (produtoVendedor of produtosVendedor; track produtoVendedor.id) {
    <div class="col-4">
      <app-produto-card [produto]="produtoVendedor"></app-produto-card>
    </div>
    }
  </div>
</div>
