@model DevXpert.Store.Core.Application.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Excluir Produto";
}

<h1 class="mb-4 text-danger">@ViewData["Title"]</h1>
<hr />

<h4 class="text-warning mb-4">Tem certeza que deseja excluir <strong>@Model.Nome</strong>?</h4>

@await Html.PartialAsync("_ProdutoDetailPartial", Model)

<div class="container mt-4">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-danger" title="Excluir">
                <i class="fas fa-trash"></i> Excluir
            </button>
            <a asp-action="Index" class="btn btn-outline-secondary" title="Voltar">
                <i class="fas fa-arrow-left"></i> Voltar
            </a>
        </div>
    </form>
</div>
