@model DevXpert.Store.Core.Application.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Detalhes do Produto";
}

<h1 class="mb-4">@ViewData["Title"]: @Model.Nome</h1>
<hr />

<div class="container mt-4">

    @await Html.PartialAsync("_ProdutoDetailsPartial", Model)

    <div class="mt-4 d-flex gap-2">
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id" title="Editar">
            <i class="fas fa-pen"></i> Editar
        </a>
        <a class="btn btn-outline-secondary" asp-action="Index" title="Voltar">
            <i class="fas fa-arrow-left"></i> Voltar
        </a>
    </div>
</div>
